/* 
    Document   : styles
    Created on : 26-oct-2012, 15:10:17
    Author     : David Andrés Manzano Herrera
    Description:
        Main style sheet.
    [2012-01-29] damanzano: The line 128 was commented in order to correct the overlap of some elements.
*/

root { 
    display: block;
}
body{
    background: url(../../images/top.jpg) repeat-x top;
    margin: 0;
}
h1{
    color: #175083;
    font-size: 28px;
}
h2{
    color: #666;
    font-size:16px;
    height: 28px;
    
}
h2 span{
    display: block;
    float: left;
    margin: 5px 0;
    
}

h3:before{
    content: "-"
}

section table{
    width: 100%;
    margin-left: 5px
}
footer{
    background: #0062BB;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}
footer a{
    color: #fff;
}
#pageWrapper{
    margin: 0 auto;
    max-width:960px;
    width: 100%;
}

#pageBody{
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    padding: 10px;
    overflow: hidden;
}
#pageHeader{
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#pageContent{}
#personalInformation{
    clear: both;
}
#pageFooter{
    background: #0062BB;
    margin: 0 auto;
    width: 960px
}
#photo{
    border:1px solid #e3e3e3;
    background: #ebebeb;
    display: inline-block;
    margin:0 2.5%;
    padding: 3px;
    width: 15%
}
#photo img{
    width: 100%;    
}

#info{
    display: inline-block;
    margin: 0 5%;
    vertical-align: top;
    width: 60%;
}
#academicBackground h2{
    background: url(../../images/education.png) no-repeat center left;
    padding-left: 30px;    
}

.name{
    margin:0;
}

.acadBackground-degree{
    font-weight: bold;
}
.acadBackground-center{}

.acadBackground-subject, .acadBackground-thesis, .work-unit-role, .work-unit, .work-unit-parent{
    display: block;
    width: 100%;
}
.back-to-list{
    float: right;
    clear: both;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #EBEBEB;
    padding: 5px;
    color: #3A4F54;
}
.email, .personal-web-page, .phone{
    display: block;
    /*height: 20px;*/
    min-height: 20px !important;
    padding-left: 20px
}
.email{
    background: url(../../images/email.png) no-repeat center left }
.personal-web-page{
    background: url(../../images/web.png) no-repeat center left
}
.phone{
    background: url(../../images/phone.png) no-repeat center left}
.roles table{
    margin-left:0;
}
.list tr{
    display: block;
    float: left;
    width: 49%;
}
